@import url(https://fonts.googleapis.com/css?family=Hind:400,300,500,600);

body {
  font-family: Hind;
  color: black;
}

p {
  margin: 0px
}

.navbar {
  display: block;
  height: 60px;
  // border-bottom: 1px solid black;
  line-height: 70px;
  padding-left: 5px;
  font-size: 16px;
  text-align: center;

  section {
    width: 980px;
    margin: 0 auto;
  }
  h1{
    color: #003366;
    float: left;
    width: 200px;
    font-size: 24px;
    font-weight: 400;
  }
  ul {
    float: right;

    li {
      color: #006666;
      float: left;
      display: block;
      font-size: 20px;
      margin: 0px 20px;
    }
  }
}

.brewery-container {
  width: 980px;
  margin: auto;
}

.brewery-form {
  float: left;
  font-size: 12px;
}
.brewery-form {
  input {
    margin: 5px;
  }
}

.brewery-list {
  position: relative;
  margin: 20px auto;
  max-width: 600px;
  height: 400px;
  ul {
    padding: none;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    height: 40px;
    margin: 0px;
  }

  li{
    text-align: center;
    width: 100px;
  }
  li:first-child {
    text-align: left;
    margin-left: 15px;
    width: 250px;
  }

  li:nth-child(2) {
    width: 150px;
  }

  .scroll-area {
    overflow-y: scroll;
    height: 360px;
    .brewery-item{
      &.highlight{
        color: white;
        background-color: #336699;
      }
    }
  }

  .list-head{
    border-bottom: 1px solid gray;
    line-height: 50px;
    font-size: 16px;
    font-weight: 500;
    text-indent: -15px;

    li:first-child{
      text-indent: 0px;
    }
  }

  .brewery-item {
    font-size: 14px;
    line-height: 40px;
    box-sizing: border-box;

    &:nth-child(even) {
      background-color: #e3e3e3;
    }
  }

  .brewery-item:hover {
    background-color: #2D8AD1;
    cursor: pointer;
  }
  .private {
    color: #8D1616;
  }
}
// .scroll-area::after{
//   position: absolute;
//   bottom: -80px;
//   left: 50%;
//   transform: translateX(-50%);
//   margin: 30px auto;
//   width: 980px;
//   content: "";
//   height: 1px;
//   background-color: gray;
// }

.brewery-detail{
  position: relative;
  width: 800px;
  height: 800px;
  margin: 30px auto;

  .brewery-name {
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
  }
  .brewery-neighborhood{
    text-align: center;
    font-size: 18px;
  }
  .brewery-website{
    text-align: center;
    font-size: 14px;
    margin-bottom: 30px;

  }
  .major-stat {
    position: relative;
    flex-grow: 1;
    width: 33%;
    height: 100px;
    line-height: 75px;
    text-align: center;
    background-color: #336699;
    color: white;

    p {
      position: absolute;
      line-height: 12px;
      left: 50%;
      top:60%;
      transform: translate(-50%, -20%);
      height: 10px;
      font-size: 12px
    }
  }
  .stats {
    display: flex;
    flex-direction: row;
    font-size: 30px;
  }
  .beer-list {
    width: 400px;
    height: 200px;
    // border: 1px solid black;
    font-size: 14px;
    line-height: 25px;

    .beerlist-header {
      font-size: 16px;
      font-weight: 500;
      height: 30px;
      border-bottom: 1px solid gray;
      line-height: 30px;
      ul {
        border: none;
      }
    }

    .beerlist-scroll {
      height: 170px;
      overflow-y: scroll;
    }

    li:first-child{
      margin-left: 10px;
      width: 150px;
      text-align: left;
    }
    li:nth-child(2){
      width: 100px;
    }

    li {
      float: left;
      text-align: center;
      width: 50px;
    }
    ul{
      float: left;
    }
    ul:nth-child(even) {
      height: 25px;
      background-color: #e3e3e3;
    }

  }
  form {
    width: 700px;
    margin: 5px auto;

    input{
      height: 24px;
      font-size: 16px;
    }
  }
}
