@import url(https://fonts.googleapis.com/css?family=Hind:400,300,500,600);
$breakpoint-small: 600px;
$desktop-width: 980px;
$cool-blue: #336699;
$light-blue: #2D8AD1;
$teal: #006666;
$private-red: #8D1616;
$bg-gray: #e3e3e3;

@media only screen and (min-width:$breakpoint-small) {
body {
  font-family: Hind;
  color: black;
}

.navbar {
  width: $desktop-width;
  margin: 0px auto;
  display: block;
  height: 60px;
  line-height: 70px;
  padding-left: 5px;
  font-size: 16px;
  text-align: center;

  h1{
    text-decoration: none;
    color: $cool-blue;
    float: left;
    width: 200px;
    font-size: 24px;
    font-weight: 400;
  }
  ul {
    float: right;

    li {
      color: $teal;
      float: left;
      display: block;
      font-size: 20px;
      margin: 0px 20px;
      text-decoration: none;

    }
  }
}

.brewery-container {
  width: $desktop-width;
  margin: auto;
  text-align: center;

  h2 {
    font-size: 1.5em;
    font-weight: 300;
    margin: 10px;
    color: gray;
  }
}


.brewery-form {
  float: left;
  font-size: 12px;
}
.brewery-form {
  input {
    margin: 5px;
  }
}
.brewerylist {
  height: 400px;
  overflow-y: scroll;
}

.list {
  margin: 20px auto;
  max-width: 600px;
  text-align: center;
  h2 {
    font-size: 1.5em;
    font-weight: 400;
  }
  ul {
    padding: none;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    height: 40px;
    margin: 0px;
  }

  li{
    text-align: center;
    width: 20%;
  }

  li:first-child {
    text-align: left;
    margin-left: 15px;
    width: 35%;
  }

  .scroll-area {
    overflow-y: scroll;

    .item{
      &.highlight{
        color: white;
        background-color: $cool-blue;
      }
    }
  }

  .list-head{
    border-bottom: 1px solid gray;
    line-height: 50px;
    font-size: 16px;
    font-weight: 500;
    text-indent: -15px;

    li:first-child{
      text-indent: 0px;
    }
    li:hover {
      cursor: pointer;
    }
  }

  .item {
    font-size: 14px;
    line-height: 40px;
    box-sizing: border-box;

    &:nth-child(even) {
      background-color: $bg-gray;
    }
  }

  .item:hover {
    background-color: $light-blue;
    cursor: pointer;
  }

  .private {
    color: $private-red;
  }
}

.brewery-detail {
  position: relative;
  width: 800px;
  margin: 30px auto;

  .beerlist {
    height: 200px;
    overflow-y: scroll;
  }

  .brewery-name {
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
    font-weight: 400;
  }

  .brewery-neighborhood{
    text-align: center;
    font-size: 18px;
  }

  .brewery-website{
    text-align: center;
    font-size: 14px;
    margin-bottom: 30px;
  }

  .major-stat {
    position: relative;
    flex-grow: 1;
    width: 33%;
    height: 100px;
    line-height: 75px;
    text-align: center;
    background-color: $cool-blue;
    color: white;
    border:2px solid white;

    p {
      position: absolute;
      line-height: 12px;
      left: 50%;
      top:60%;
      transform: translate(-50%, -20%);
      height: 10px;
      font-size: 12px
    }
  }

  .stats {
    display: flex;
    flex-direction: row;
    font-size: 30px;
  }

  form {
    width: 700px;
    margin: 5px auto;

    input{
      height: 24px;
      font-size: 16px;
    }
  }
}

.pie-chart {
  margin: 30px auto;
  text-align: center;
}

.beerchart {
  height: 300px;
}

.legend {
  display: flex;
  flex-direction: row;
  justify-content: center;

  li {
    margin: 5px;
    float: left;
    p {
      margin: 5px;
      line-height: 20px;
      float: left;
    }
  }
}

}
